$background_color: #212121;
$text_color: white;
$secondary_color: #dbcba9;
$third_color: #f2f2f2;

@mixin h2 {
  color: $secondary_color;
  font-family: "Playfair Display", serif;
}
@mixin text_stroke {
  text-transform: uppercase;
  -webkit-text-fill-color: $background_color;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $text_color;
}
/*
@media (prefer-color-scheme: light) {
  $background_color: #f2f2f2;
  $text_color: #212121;
  $secondary_color: #dbcba9;
  $third_color: #212121;
}
@media (prefer-color-scheme: dark) {
  $background_color: #f2f2f2;
  $text_color: #212121;
  $secondary_color: #dbcba9;
  $third_color: #212121;
}*/
html {
  scroll-behavior: smooth;
}
body {
  background-color: $background_color;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
}
section {
  scroll-snap-align: start;
}
*::selection {
  background: #f3f3f1f7;
  color: black;
  mix-blend-mode: difference;
}
/*
*:focus {
  outline: 1px solid $secondary_color;
}
::-moz-focus-inner {
  border: 0;
}*/
/*
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}*/
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background: #ffffff00;
}
::-webkit-scrollbar-thumb {
  background: $third_color;
}
::-webkit-scrollbar-thumb:hover {
  background: $secondary_color;
}
* {
  font-family: Cambria, calibri, Cochin, Georgia, Times, "Times New Roman",
    serif;
  list-style: none; /* elève les point des <li> */
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}
/*
//! cursor
.cursor {
  z-index: 100;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $third_color;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: difference;
  transition: width 0.3s ease, height 0.3s ease;
}
.cursor_hover {
  width: 50px;
  height: 50px;
  border: 1px solid $third_color;
  background-color: rgba(255, 255, 255, 0);
  transform: translate(-15px, -15px);
}*/
//! scroll bottom anim
.scroll_down {
  position: fixed;
  right: 0.3%;
  width: 25px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.089);
  overflow: hidden;
  right: 50%;
  top: 92%;
  animation: introduction_anim 6s;
  z-index: -1;
  &::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.384);
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    animation: scroll_down 1.7s ease-out infinite;
  }
}
@keyframes scroll_down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
    opacity: 0;
  }
}
//! scroll to top button
#scroll_top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  transition-property: background, color, bottom, opacity, visibility;
  transition-duration: 1s;
  width: 50px;
  height: 50px;
  background: $text_color;
  z-index: 13;
  border-radius: 13px;
  background: #212121;
  // box-shadow: inset -6px -6px 7px #101010, inset 6px 6px 7px #323232;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  transition: 1s;
  &[data-show="false"] {
    bottom: 0;
    opacity: 0;
  }
  & svg {
    color: $text_color;
    pointer-events: none;
    opacity: 0.6;
  }
  &:hover {
    cursor: pointer;
    border-radius: 13px;
    background: linear-gradient(315deg, #1e1e1e, #232323);
    box-shadow: -6px -6px 7px #101010, 6px 6px 7px #323232;
    & svg {
      opacity: 1;
    }
  }
}

//! HOME PAGE

header {
  height: 100vh;
  width: 100vw;
  display: flex;
  .fond_ecriture {
    z-index: -10;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    h1 {
      margin-top: 35vh;
      display: flex;
      font-size: 19em;
      line-height: 0;
      -webkit-text-fill-color: $background_color;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: white;
      font-family: "HelveticaNeueLTStd-Bd";
      opacity: 0.06;
      animation: Prenom_anim 2.5s;
      &:first-child {
        margin-right: 10vw;
      }
      &:last-child {
        margin-top: 0;
        margin-right: 1vw;
      }
    }
  }
  nav {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    width: 100%;
    animation: nav_anim 3s;
    ul {
      display: flex;
      flex-direction: row;
      li {
        margin-right: 3vw;
      }
      a {
        color: $text_color;
        text-decoration: none;
        font-size: 1.2em;
        opacity: 0.7;
        transition: 0.3s;
        transform-origin: center;
        &:hover {
          opacity: 1;
        }
        &::after {
          content: "";
          display: block;
          width: 0;
          height: 1px;
          background: $text_color;
          z-index: 9;
          transition: 0.6s;
          opacity: 0.5;
        }
        &:hover::after {
          width: 100%;
          opacity: 0.7;
        }
      }
    }
  }
  .introduction {
    position: absolute;
    margin-left: 10%;
    margin-top: 17%;
    width: 30%;
    color: $text_color;
    h2 {
      font-size: 300%;
      @include h2();
      animation: dev_anim 1.9s;
      transform-origin: left;
    }
    p {
      margin-bottom: 10%;
      margin-right: 30%;
      font-size: 120%;
      animation: introduction_anim 3.5s;
      transform-origin: left;
      opacity: 0.7;
    }
    button {
      text-decoration: none;
      width: 30%;
      height: 7vh;
      border: none;
      border-radius: 3%;
      background-color: $secondary_color;
      color: $background_color;
      font-size: 120%;
      transition: 0.5s;
      animation: introduction_anim 4s;
      &:hover {
        transform: translateY(-10%);
      }
      &:last-child {
        background-color: $background_color;
        border: 1px solid white;
        color: $text_color;
        margin-left: 2%;
      }
    }
  }
}

//!Partie BIOGRAPHIE
.logo path {
  opacity: 0;
}
.biographie_section {
  width: 100vw;
  height: 100vh;
  .biographie_title {
    margin-top: 5vh;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 100vh;
  }
  img {
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    opacity: 0;
    transform: translateX(200px);
  }
}
.bio_paragraphe {
  position: absolute;
  margin-left: 10%;
  width: 40%;
  height: 100%;
  margin-top: -85%;
  animation: bio_paragraphe_into 2s;
  p {
    margin-left: 20%;
    margin-right: 20%;
    color: $text_color;
    font-size: 120%;
    padding: 1.5%;
  }
}
@keyframes bio_paragraphe_into {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
//!PORTFOLIO

.portfolio {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  h3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: "Playfair Display";
    color: $background_color;
    -webkit-text-fill-color: $background_color;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $text_color;
    text-transform: uppercase;
    font-size: 8vw;
    line-height: 15vh;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: $text_color;
    width: 0%;
    transition: 0.5s;
    letter-spacing: 0.3vw;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 50%;
    opacity: 0.8;
    transform: translateY(-15%);
  }
  img {
    position: absolute;
    right: 6%;
    width: 50%;
    top: 0;
    opacity: 1;

    transform: translate(120%, 30vh);

    transition: 0.5s;
    border-radius: 1%;
    cursor: pointer;
    filter: grayscale(100%);
    &:nth-child(3) {
      left: 10%;
      width: 30%;
      opacity: 1;
      transform: translate(300%, 30vh);
    }
    &:hover {
      filter: contrast(110%);
      width: 52%;
      filter: grayscale(0%);
    }
    &:nth-child(3):hover {
      width: 32%;
    }
  }
  .projet_drone {
    transform: translate(120%, 30vh);
  }
}

.textanim_true {
  stroke-dasharray: 2633;
  stroke-dashoffset: 2633;
  animation: line 20s ease forwards;
}
#textanim_true {
  stroke-dasharray: 2633;
  stroke-dashoffset: 2633;
  animation: line 20s ease forwards;
}
@keyframes line {
  to {
    stroke-dashoffset: 0;
  }
}

//! COMPETENCES
.h3_competences_anim {
  animation: competences_anim 3s;
  background-color: white;
  transition: 0.5s;
}
@keyframes competences_anim {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  80% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    background-color: white;
  }
}
.competences {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    @include text_stroke();
    margin-top: 20%;
    transform: rotate(335deg) translateY(-30%);
    font-size: 1300%;
    font-family: "Playfair Display", serif;
    opacity: 0.05;
    position: absolute;
    transition: 10s;
  }
  div {
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid $third_color;
    border-bottom: 1px solid $third_color;
    position: absolute;
    margin-top: 20%;
    height: 90px;
    // height: 10%;
    /*&::before {
      content: "";
      position: absolute;
      top: 0;
      width: 300vw;
      height: 1px;
      background-color: $third_color;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 300vw;
      height: 1px;
      background-color: $third_color;
    }*/
    span,
    span::after {
      letter-spacing: 3.3px;
    }
    span {
      font-family: "Playfair Display", serif;
      color: $third_color;
      font-size: 250%;
      font-weight: bold;

      animation: defilement 10s infinite linear;
      display: flex;
      width: 100%;
      position: absolute;
      font-size: 50px;
      font-size: 3.2vw;
      white-space: nowrap;
      &::after {
        content: attr(data-text);
        display: flex;
        font-family: "Playfair Display", serif;
        color: $third_color;
        font-size: 150%;
        font-weight: bold;
        animation: defilement_after 10s infinite linear;
        width: 100%;
        position: absolute;
        font-size: 50px;
        font-size: 3.2vw;
        padding-left: 0px;
      }
    }
  }
}
@keyframes defilement {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}

@keyframes defilement_after {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}
//! CONTACT
.contact {
  width: 100vw;
  height: 100vh;
  h3 {
    transform: translateY(50%);
    font-size: 500%;
    font-family: "Playfair Display", serif;
    @include text_stroke();
    letter-spacing: 2px;
    color: $third_color;
    width: 100%;
    text-align: center;
  }

  .contact_text {
    width: 30%;
    position: absolute;
    margin-left: 5%;
    transform: translateY(20vh);
    color: white;
    font-size: 1.5vw;
    opacity: 0.8;
  }
  .form {
    width: 50%;
    height: 60%;
    right: 3%;
    transform: translateY(20%);
    position: absolute;
    div {
      width: 100%;
      display: flex;
      justify-content: center;
      input {
        display: flex;
        width: 50%;
        height: 5vh;
        border: 1px solid rgba(255, 255, 255, 0.096);
        &:first-child {
          margin-left: 7%;
        }
        &:last-child {
          margin-right: 7%;
        }
      }
    }
    textarea {
      width: 100%;
      height: 20vh;
      background-color: rgba(255, 0, 0, 0);
      color: white;
      border: 1px solid rgba(255, 255, 255, 0.096);
    }
    input {
      margin: 5vh;
      color: white;
      background-color: #7e7f8300;
      border: 1px solid rgba(255, 255, 255, 0.466);
      border-radius: 3px;
    }
    .input_button {
      width: 20%;
      height: 5vh;
      margin-left: 50%;
      transform: translateX(-50%);
      transition: 0.7s ease-out;
      &:hover {
        background-color: $third_color;
        color: $background_color;
      }
    }
  }
}
@keyframes icon_description_hover {
  0% {
    top: -110%;
    left: 90%;
  }
  50% {
    top: 10%;
    left: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
@keyframes Prenom_anim {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0.06;
  }
}
@keyframes nav_anim {
  0% {
    margin-top: -10%;
  }
  100% {
    margin-top: 0%;
  }
}
@keyframes dev_anim {
  0% {
    transform: rotateX(90deg);
  }
  80% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes introduction_anim {
  0% {
    transform: scaleX(0);
  }
  80% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

//! MENU
#menu_onclick {
  z-index: 13;
  position: fixed;
  right: 4%;
  top: 5%;
  transition: 1s;
  &[data-show="false"] {
    opacity: 0;
    top: 0;
  }
  a {
    font-size: 120%;
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0);
    color: $text_color;
    border: none;
    border-bottom: 1px solid white;
    &:hover {
      color: $secondary_color;
    }
  }
}
#menu_onclick_close {
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 120%;
  text-decoration: none;
  //background-color: $background_color;
  //color: $text_color;
  color: $background_color;
  border: none;
  //border-bottom: 1px solid white;
  border-bottom: 1px solid $background_color;
  cursor: pointer;
  &:hover {
    color: $secondary_color;
  }
}
.menu_section {
  width: 100vw;
  height: 100vh;
  z-index: 15;
  position: fixed;
  //background: $background_color;

  background: $third_color;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: 1s cubic-bezier(0.5, 0.1, 0, 0.99);
  div {
    //box-shadow: -18px 13px 16px 0px $third_color;

    border-radius: 50%;
    width: 45vw;
    height: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.5s;
    a {
      //color: $third_color;

      color: $background_color;
      text-decoration: none;
      font-size: 4.3vw;
      text-transform: uppercase;
      line-height: 7vw;
      font-family: "Playfair Display";
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.7s;
      opacity: 0.6;
      &::before {
        display: block;
        //background-color: $third_color;

        background-color: $background_color;
        height: 1px;
        width: 2.5vw;
        content: "";
        transition: transform 0.4s cubic-bezier(0.5, 0.1, 0, 0.99);
        transform: translateX(-100%) scaleX(0);
        transform-origin: right center;
      }
      &::after {
        display: block;
        background-color: $third_color;

        background-color: $background_color;
        height: 1px;
        width: 2.5vw;
        content: "";
        transition: transform 0.4s cubic-bezier(0.5, 0.1, 0, 0.99);
        transform-origin: left center;
        transform: translateX(100%) scaleX(0);
      }
      &:hover::before {
        transform: translateX(-100%) scaleX(1);
      }
      &:hover::after {
        transform: translateX(100%) scaleX(1);
      }
      &:hover {
        font-size: 4.5vw;
        opacity: 1;
        letter-spacing: 0.2vw;
      }
    }
  }
}
.menu_section_close {
  // transform: translateY(-100%);
  transform: scale(0);
  border-radius: 100%;
}
.menu_section_open {
  // transform: translateY(0%);
  transform: scale(1);
  border-radius: 0;
}
