@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  background-color: #212121;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  font-family: Cambria, calibri, Cochin, Georgia, Times, "Times New Roman", serif;
  list-style: none;
  /* elève les point des <li> */
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#scroll_top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  -webkit-transition-property: background, color, bottom, opacity, visibility;
  transition-property: background, color, bottom, opacity, visibility;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  width: 50px;
  height: 50px;
  background: white;
  z-index: 90;
  border-radius: 13px;
  background: #212121;
  -webkit-box-shadow: inset -6px -6px 7px #101010, inset 6px 6px 7px #323232;
          box-shadow: inset -6px -6px 7px #101010, inset 6px 6px 7px #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#scroll_top[data-show="false"] {
  bottom: 0;
  opacity: 0;
}

#scroll_top svg {
  color: white;
}

#scroll_top:hover {
  cursor: pointer;
  border-radius: 13px;
  background: linear-gradient(315deg, #1e1e1e, #232323);
  -webkit-box-shadow: -6px -6px 7px #101010, 6px 6px 7px #323232;
          box-shadow: -6px -6px 7px #101010, 6px 6px 7px #323232;
}

header {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .fond_ecriture {
  z-index: -10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .fond_ecriture h1 {
  margin-top: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 19em;
  line-height: 0;
  -webkit-text-fill-color: #212121;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-family: "HelveticaNeueLTStd-Bd";
  opacity: 0.1;
  -webkit-animation: Prenom_anim 2.5s;
          animation: Prenom_anim 2.5s;
}

header .fond_ecriture h1:first-child {
  margin-right: 10vw;
}

header .fond_ecriture h1:last-child {
  margin-top: 0;
  margin-right: 1vw;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  -webkit-animation: nav_anim 3s;
          animation: nav_anim 3s;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav ul li {
  margin-right: 3vw;
}

header nav ul a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav ul a:hover {
  opacity: 1;
}

header nav ul a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: white;
  z-index: 9;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0.5;
}

header nav ul a:hover::after {
  width: 100%;
  opacity: 0.7;
}

header .introduction {
  position: absolute;
  margin-left: 10%;
  margin-top: 17%;
  width: 30%;
  color: white;
}

header .introduction h2 {
  font-size: 300%;
  color: #dbcba9;
  font-family: "Playfair Display", serif;
  -webkit-animation: dev_anim 1.9s;
          animation: dev_anim 1.9s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

header .introduction p {
  margin-bottom: 10%;
  margin-right: 30%;
  font-size: 120%;
  -webkit-animation: introduction_anim 3.5s;
          animation: introduction_anim 3.5s;
  -webkit-transform-origin: left;
          transform-origin: left;
  opacity: 0.7;
}

header .introduction button {
  text-decoration: none;
  width: 30%;
  height: 7vh;
  border: none;
  border-radius: 3%;
  background-color: #dbcba9;
  color: #212121;
  font-size: 120%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: introduction_anim 4s;
          animation: introduction_anim 4s;
}

header .introduction button:hover {
  width: 31%;
  height: 7.3vh;
}

header .introduction button:last-child {
  background-color: #212121;
  border: 1px solid white;
  color: white;
  margin-left: 2%;
}

.logo path {
  opacity: 0;
}

.biographie_section {
  width: 100vw;
  height: 100vh;
}

.biographie_section .biographie_title {
  margin-top: 5vh;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100vh;
}

.biographie_section img {
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  opacity: 0;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

.bio_paragraphe {
  position: absolute;
  margin-left: 10%;
  width: 40%;
  height: 100%;
  margin-top: -85%;
}

.bio_paragraphe p {
  margin-left: 20%;
  margin-right: 20%;
  color: white;
  font-size: 120%;
}

.portfolio {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Playfair Display";
  color: #212121;
  -webkit-text-fill-color: #212121;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-transform: uppercase;
  font-size: 8vw;
  line-height: 15vh;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: white;
  width: 0%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: 0.4vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 50%;
  opacity: 0.8;
}

.portfolio img {
  position: absolute;
  right: 6%;
  width: 50%;
  top: 0;
  opacity: 1;
  -webkit-transform: translate(120%, 40vh);
          transform: translate(120%, 40vh);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 1%;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.portfolio img:nth-child(3) {
  left: 10%;
  width: 30%;
  opacity: 1;
  -webkit-transform: translate(300%, 35vh);
          transform: translate(300%, 35vh);
}

.portfolio img:hover {
  -webkit-filter: contrast(110%);
          filter: contrast(110%);
  width: 52%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.portfolio img:nth-child(3):hover {
  width: 32%;
}

.portfolio .projet_drone {
  -webkit-transform: translate(120%, 40vh);
          transform: translate(120%, 40vh);
}

.textanim_true {
  stroke-dasharray: 2633;
  stroke-dashoffset: 2633;
  -webkit-animation: line 20s ease forwards;
          animation: line 20s ease forwards;
}

#textanim_true {
  stroke-dasharray: 2633;
  stroke-dashoffset: 2633;
  -webkit-animation: line 20s ease forwards;
          animation: line 20s ease forwards;
}

@-webkit-keyframes line {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes Prenom_anim {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes Prenom_anim {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@-webkit-keyframes nav_anim {
  0% {
    margin-top: -10%;
  }
  100% {
    margin-top: 0%;
  }
}

@keyframes nav_anim {
  0% {
    margin-top: -10%;
  }
  100% {
    margin-top: 0%;
  }
}

@-webkit-keyframes dev_anim {
  0% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  80% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes dev_anim {
  0% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  80% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@-webkit-keyframes introduction_anim {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  80% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes introduction_anim {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  80% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
/*# sourceMappingURL=style.css.map */