@charset "UTF-8";
/*
@media (prefer-color-scheme: light) {
  $background_color: #f2f2f2;
  $text_color: #212121;
  $secondary_color: #dbcba9;
  $third_color: #212121;
}
@media (prefer-color-scheme: dark) {
  $background_color: #f2f2f2;
  $text_color: #212121;
  $secondary_color: #dbcba9;
  $third_color: #212121;
}*/
html {
  scroll-behavior: smooth;
}

body {
  background-color: #212121;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
  overflow-y: scroll;
}

section {
  scroll-snap-align: start;
}

*::-moz-selection {
  background: #f3f3f1f7;
  color: black;
  mix-blend-mode: difference;
}

*::selection {
  background: #f3f3f1f7;
  color: black;
  mix-blend-mode: difference;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

* {
  font-family: Cambria, calibri, Cochin, Georgia, Times, "Times New Roman", serif;
  list-style: none;
  /* elève les point des <li> */
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
}

/*
//! cursor
.cursor {
  z-index: 100;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $third_color;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: difference;
  transition: width 0.3s ease, height 0.3s ease;
}
.cursor_hover {
  width: 50px;
  height: 50px;
  border: 1px solid $third_color;
  background-color: rgba(255, 255, 255, 0);
  transform: translate(-15px, -15px);
}*/
.scroll_down {
  position: fixed;
  right: 0.3%;
  width: 25px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.089);
  overflow: hidden;
  right: 50%;
  top: 92%;
  -webkit-animation: introduction_anim 6s;
          animation: introduction_anim 6s;
  z-index: -1;
}

.scroll_down::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.384);
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: scroll_down 1.7s ease-out infinite;
          animation: scroll_down 1.7s ease-out infinite;
}

@-webkit-keyframes scroll_down {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
}

@keyframes scroll_down {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
}

#scroll_top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  -webkit-transition-property: background, color, bottom, opacity, visibility;
  transition-property: background, color, bottom, opacity, visibility;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  width: 50px;
  height: 50px;
  background: white;
  z-index: 13;
  border-radius: 13px;
  background: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.6;
  -webkit-transition: 1s;
  transition: 1s;
}

#scroll_top[data-show="false"] {
  bottom: 0;
  opacity: 0;
}

#scroll_top svg {
  color: white;
  pointer-events: none;
  opacity: 0.6;
}

#scroll_top:hover {
  cursor: pointer;
  border-radius: 13px;
  background: linear-gradient(315deg, #1e1e1e, #232323);
  -webkit-box-shadow: -6px -6px 7px #101010, 6px 6px 7px #323232;
          box-shadow: -6px -6px 7px #101010, 6px 6px 7px #323232;
}

#scroll_top:hover svg {
  opacity: 1;
}

header {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .fond_ecriture {
  z-index: -10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .fond_ecriture h1 {
  margin-top: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 19em;
  line-height: 0;
  -webkit-text-fill-color: #212121;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-family: "HelveticaNeueLTStd-Bd";
  opacity: 0.04;
  -webkit-animation: Prenom_anim 2.5s;
          animation: Prenom_anim 2.5s;
}

header .fond_ecriture h1:first-child {
  margin-right: 10vw;
}

header .fond_ecriture h1:last-child {
  margin-top: 0;
  margin-right: 1vw;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  -webkit-animation: nav_anim 3s;
          animation: nav_anim 3s;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav ul li {
  margin-right: 3vw;
}

header nav ul a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

header nav ul a:hover {
  opacity: 1;
}

header nav ul a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: white;
  z-index: 9;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0.5;
}

header nav ul a:hover::after {
  width: 100%;
  opacity: 0.7;
}

header .introduction {
  position: absolute;
  margin-left: 10%;
  margin-top: 17%;
  width: 30%;
  color: white;
}

header .introduction h2 {
  font-size: 300%;
  color: #dbcba9;
  font-family: "Playfair Display", serif;
  -webkit-animation: dev_anim 1.9s;
          animation: dev_anim 1.9s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

header .introduction p {
  margin-bottom: 10%;
  margin-right: 30%;
  font-size: 120%;
  -webkit-animation: introduction_anim 3.5s;
          animation: introduction_anim 3.5s;
  -webkit-transform-origin: left;
          transform-origin: left;
  opacity: 0.7;
}

header .introduction button {
  text-decoration: none;
  width: 30%;
  height: 7vh;
  border: none;
  border-radius: 3%;
  background-color: #dbcba9;
  color: #212121;
  font-size: 120%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: introduction_anim 4s;
          animation: introduction_anim 4s;
}

header .introduction button:hover {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

header .introduction button:last-child {
  background-color: #212121;
  border: 1px solid white;
  color: white;
  margin-left: 2%;
}

.logo path {
  opacity: 0;
}

.biographie_section {
  width: 100vw;
  height: 100vh;
}

.biographie_section .biographie_title {
  margin-top: 5vh;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100vh;
}

.biographie_section img {
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  opacity: 0;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

.bio_paragraphe {
  position: absolute;
  margin-left: 10%;
  width: 40%;
  height: 100%;
  margin-top: -85%;
  -webkit-animation: bio_paragraphe_into 2s;
          animation: bio_paragraphe_into 2s;
}

.bio_paragraphe p {
  margin-left: 20%;
  margin-right: 20%;
  color: white;
  font-size: 120%;
}

@-webkit-keyframes bio_paragraphe_into {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bio_paragraphe_into {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.portfolio {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Playfair Display";
  color: #212121;
  -webkit-text-fill-color: #212121;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-transform: uppercase;
  font-size: 8vw;
  line-height: 15vh;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: white;
  width: 0%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: 0.3vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 50%;
  opacity: 0.8;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
}

.portfolio img {
  position: absolute;
  right: 6%;
  width: 50%;
  top: 0;
  opacity: 1;
  -webkit-transform: translate(120%, 30vh);
          transform: translate(120%, 30vh);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 1%;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.portfolio img:nth-child(3) {
  left: 10%;
  width: 30%;
  opacity: 1;
  -webkit-transform: translate(300%, 30vh);
          transform: translate(300%, 30vh);
}

.portfolio img:hover {
  -webkit-filter: contrast(110%);
          filter: contrast(110%);
  width: 52%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.portfolio img:nth-child(3):hover {
  width: 32%;
}

.portfolio .projet_drone {
  -webkit-transform: translate(120%, 30vh);
          transform: translate(120%, 30vh);
}

.textanim_true {
  stroke-dasharray: 2633;
  stroke-dashoffset: 2633;
  -webkit-animation: line 20s ease forwards;
          animation: line 20s ease forwards;
}

#textanim_true {
  stroke-dasharray: 2633;
  stroke-dashoffset: 2633;
  -webkit-animation: line 20s ease forwards;
          animation: line 20s ease forwards;
}

@-webkit-keyframes line {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line {
  to {
    stroke-dashoffset: 0;
  }
}

.h3_competences_anim {
  -webkit-animation: competences_anim 3s;
          animation: competences_anim 3s;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@-webkit-keyframes competences_anim {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  80% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    background-color: white;
  }
}

@keyframes competences_anim {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  80% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    background-color: white;
  }
}

.competences {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.competences h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  -webkit-text-fill-color: #212121;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  margin-top: 20%;
  -webkit-transform: rotate(335deg) translateY(-30%);
          transform: rotate(335deg) translateY(-30%);
  font-size: 1300%;
  font-family: "Playfair Display", serif;
  opacity: 0.05;
  position: absolute;
  -webkit-transition: 10s;
  transition: 10s;
}

.competences div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  position: absolute;
  margin-top: 20%;
  height: 90px;
  /*&::before {
      content: "";
      position: absolute;
      top: 0;
      width: 300vw;
      height: 1px;
      background-color: $third_color;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 300vw;
      height: 1px;
      background-color: $third_color;
    }*/
}

.competences div span,
.competences div span::after {
  letter-spacing: 3.3px;
}

.competences div span {
  font-family: "Playfair Display", serif;
  color: #f2f2f2;
  font-size: 250%;
  font-weight: bold;
  -webkit-animation: defilement 10s infinite linear;
          animation: defilement 10s infinite linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  font-size: 50px;
  font-size: 3.2vw;
  white-space: nowrap;
}

.competences div span::after {
  content: attr(data-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Playfair Display", serif;
  color: #f2f2f2;
  font-size: 150%;
  font-weight: bold;
  -webkit-animation: defilement_after 10s infinite linear;
          animation: defilement_after 10s infinite linear;
  width: 100%;
  position: absolute;
  font-size: 50px;
  font-size: 3.2vw;
  padding-left: 0px;
}

@-webkit-keyframes defilement {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}

@keyframes defilement {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}

@-webkit-keyframes defilement_after {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}

@keyframes defilement_after {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}

.contact {
  width: 100vw;
  height: 100vh;
}

.contact h3 {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  font-size: 500%;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  -webkit-text-fill-color: #212121;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  letter-spacing: 2px;
  color: #f2f2f2;
  width: 100%;
  text-align: center;
}

.contact .contact_text {
  width: 30%;
  position: absolute;
  margin-left: 5%;
  -webkit-transform: translateY(20vh);
          transform: translateY(20vh);
  color: white;
  font-size: 1.5vw;
  opacity: 0.8;
}

.contact .form {
  width: 50%;
  height: 60%;
  right: 3%;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  position: absolute;
}

.contact .form div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .form div input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 5vh;
  border: 1px solid rgba(255, 255, 255, 0.096);
}

.contact .form div input:first-child {
  margin-left: 7%;
}

.contact .form div input:last-child {
  margin-right: 7%;
}

.contact .form textarea {
  width: 100%;
  height: 20vh;
  background-color: rgba(255, 0, 0, 0);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.096);
}

.contact .form input {
  margin: 5vh;
  color: white;
  background-color: #7e7f8300;
  border: 1px solid rgba(255, 255, 255, 0.466);
  border-radius: 3px;
}

.contact .form .input_button {
  width: 20%;
  height: 5vh;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.7s ease-out;
  transition: 0.7s ease-out;
}

.contact .form .input_button:hover {
  background-color: #f2f2f2;
  color: #212121;
}

@-webkit-keyframes icon_description_hover {
  0% {
    top: -110%;
    left: 90%;
  }
  50% {
    top: 10%;
    left: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

@keyframes icon_description_hover {
  0% {
    top: -110%;
    left: 90%;
  }
  50% {
    top: 10%;
    left: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

@-webkit-keyframes Prenom_anim {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0.04;
  }
}

@keyframes Prenom_anim {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0.04;
  }
}

@-webkit-keyframes nav_anim {
  0% {
    margin-top: -10%;
  }
  100% {
    margin-top: 0%;
  }
}

@keyframes nav_anim {
  0% {
    margin-top: -10%;
  }
  100% {
    margin-top: 0%;
  }
}

@-webkit-keyframes dev_anim {
  0% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  80% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes dev_anim {
  0% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  80% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@-webkit-keyframes introduction_anim {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  80% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes introduction_anim {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  80% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

#menu_onclick {
  z-index: 13;
  position: fixed;
  right: 4%;
  top: 5%;
  -webkit-transition: 1s;
  transition: 1s;
}

#menu_onclick[data-show="false"] {
  opacity: 0;
  top: 0;
}

#menu_onclick a {
  font-size: 120%;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0);
  color: white;
  border: none;
  border-bottom: 1px solid white;
}

#menu_onclick a:hover {
  color: #dbcba9;
}

#menu_onclick_close {
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 120%;
  text-decoration: none;
  color: #212121;
  border: none;
  border-bottom: 1px solid #212121;
  cursor: pointer;
}

#menu_onclick_close:hover {
  color: #dbcba9;
}

.menu_section {
  width: 100vw;
  height: 100vh;
  z-index: 15;
  position: fixed;
  background: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 1s cubic-bezier(0.5, 0.1, 0, 0.99);
  transition: 1s cubic-bezier(0.5, 0.1, 0, 0.99);
}

.menu_section div {
  border-radius: 50%;
  width: 45vw;
  height: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu_section div a {
  color: #212121;
  text-decoration: none;
  font-size: 4.3vw;
  text-transform: uppercase;
  line-height: 7vw;
  font-family: "Playfair Display";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  opacity: 0.6;
}

.menu_section div a::before {
  display: block;
  background-color: #212121;
  height: 1px;
  width: 2.5vw;
  content: "";
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.5, 0.1, 0, 0.99);
  transition: -webkit-transform 0.4s cubic-bezier(0.5, 0.1, 0, 0.99);
  transition: transform 0.4s cubic-bezier(0.5, 0.1, 0, 0.99);
  transition: transform 0.4s cubic-bezier(0.5, 0.1, 0, 0.99), -webkit-transform 0.4s cubic-bezier(0.5, 0.1, 0, 0.99);
  -webkit-transform: translateX(-100%) scaleX(0);
          transform: translateX(-100%) scaleX(0);
  -webkit-transform-origin: right center;
          transform-origin: right center;
}

.menu_section div a::after {
  display: block;
  background-color: #f2f2f2;
  background-color: #212121;
  height: 1px;
  width: 2.5vw;
  content: "";
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.5, 0.1, 0, 0.99);
  transition: -webkit-transform 0.4s cubic-bezier(0.5, 0.1, 0, 0.99);
  transition: transform 0.4s cubic-bezier(0.5, 0.1, 0, 0.99);
  transition: transform 0.4s cubic-bezier(0.5, 0.1, 0, 0.99), -webkit-transform 0.4s cubic-bezier(0.5, 0.1, 0, 0.99);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: translateX(100%) scaleX(0);
          transform: translateX(100%) scaleX(0);
}

.menu_section div a:hover::before {
  -webkit-transform: translateX(-100%) scaleX(1);
          transform: translateX(-100%) scaleX(1);
}

.menu_section div a:hover::after {
  -webkit-transform: translateX(100%) scaleX(1);
          transform: translateX(100%) scaleX(1);
}

.menu_section div a:hover {
  font-size: 4.5vw;
  opacity: 1;
  letter-spacing: 0.2vw;
}

.menu_section_close {
  -webkit-transform: scale(0);
          transform: scale(0);
  border-radius: 100%;
}

.menu_section_open {
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 0;
}
/*# sourceMappingURL=style.css.map */