@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  background-color: #212121;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  font-family: Cambria, calibri, Cochin, Georgia, Times, 'Times New Roman', serif;
  list-style: none;
  /* elève les point des <li> */
  padding: 0;
}

header {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .fond_ecriture {
  z-index: -10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .fond_ecriture h1 {
  margin-top: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 19em;
  line-height: 0;
  -webkit-text-fill-color: #212121;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-family: 'HelveticaNeueLTStd-Bd';
  opacity: .1;
  -webkit-animation: Prenom_anim 2.5s;
          animation: Prenom_anim 2.5s;
}

header .fond_ecriture h1:first-child {
  margin-right: 10vw;
}

header .fond_ecriture h1:last-child {
  margin-top: 0;
  margin-right: 1vw;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  -webkit-animation: nav_anim 3s;
          animation: nav_anim 3s;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav ul li {
  margin-right: 3vw;
}

header nav ul a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

header .introduction {
  position: absolute;
  margin-left: 10%;
  margin-top: 17%;
  width: 30%;
  color: white;
}

header .introduction h2 {
  font-size: 300%;
  color: #cfc09f;
  font-family: 'Playfair Display', serif;
  -webkit-animation: dev_anim 1.9s;
          animation: dev_anim 1.9s;
}

header .introduction p {
  margin-bottom: 10%;
  margin-right: 30%;
  font-size: 120%;
  -webkit-animation: introduction_anim 3.5s;
          animation: introduction_anim 3.5s;
}

header .introduction button {
  text-decoration: none;
  width: 30%;
  height: 7vh;
  border: none;
  border-radius: 3%;
  background-color: #cfc09f;
  color: #212121;
  font-size: 120%;
  -webkit-animation: introduction_anim 4s;
          animation: introduction_anim 4s;
}

header .introduction button:last-child {
  background-color: #212121;
  border: 1px solid white;
  color: white;
  margin-left: 2%;
}

.logo path {
  opacity: 0;
}

.biographie_section {
  width: 100vw;
  height: 100vh;
}

.biographie_section .biographie_title {
  margin-top: 45vh;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100vh;
}

.biographie_section img {
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  opacity: 0;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

.bio_paragraphe {
  position: absolute;
  margin-left: 10%;
  width: 40%;
  height: 100%;
  margin-top: -85%;
}

.bio_paragraphe p {
  margin-left: 20%;
  margin-right: 20%;
  color: white;
  font-size: 120%;
}

.portfolio {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Playfair Display';
  color: #212121;
  -webkit-text-fill-color: #212121;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-transform: uppercase;
  font-size: 8vw;
  line-height: 15vh;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: white;
  width: 0%;
  -webkit-transition: .5s;
  transition: .5s;
  letter-spacing: .4vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 50%;
  opacity: .8;
}

.portfolio img {
  position: absolute;
  right: 6%;
  width: 50%;
  top: 0;
  opacity: 1;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 1%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.portfolio img:nth-child(3) {
  left: 10%;
  width: 40%;
  opacity: 1;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
}

.portfolio img:hover {
  -webkit-filter: contrast(110%);
          filter: contrast(110%);
  width: 52%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.portfolio img:nth-child(3):hover {
  width: 42%;
}

.portfolio .projet_drone {
  -webkit-transform: translateY(-50vh);
          transform: translateY(-50vh);
}

.textanim_true {
  stroke-dasharray: 2633;
  stroke-dashoffset: 2633;
  -webkit-animation: line 20s ease forwards;
          animation: line 20s ease forwards;
}

#textanim_true {
  stroke-dasharray: 2633;
  stroke-dashoffset: 2633;
  -webkit-animation: line 20s ease forwards;
          animation: line 20s ease forwards;
}

@-webkit-keyframes line {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes Prenom_anim {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: .1;
  }
}

@keyframes Prenom_anim {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: .1;
  }
}

@-webkit-keyframes nav_anim {
  0% {
    margin-top: -10%;
  }
  100% {
    margin-top: 0%;
  }
}

@keyframes nav_anim {
  0% {
    margin-top: -10%;
  }
  100% {
    margin-top: 0%;
  }
}

@-webkit-keyframes dev_anim {
  0% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  80% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes dev_anim {
  0% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  80% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@-webkit-keyframes introduction_anim {
  0% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  80% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes introduction_anim {
  0% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  80% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
/*# sourceMappingURL=style.css.map */